.hinthunt {
  position: relative;
  
  &_animate {
    position: absolute;
    z-index: 6;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background: $seethruwhite;

    &-on {
      display: block;
    }

    &-visible {
      opacity: 1;
    }
  }

  &_title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }

  &_game {
    display: flex;
    justify-content: center;
  }

  &_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-right: 1rem;
    border: 2px solid;
  }

  &_btn {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.25rem 0;
  }
  
}