.modal {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $seethruwhite;

  &_heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    font-size: 0.5rem;

    @mixin atSmall {
      font-size: 1rem;
    }
  }

  &_btn {
    padding: 0.25rem;
  }
}