.square {
  user-select: none;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  @mixin atSmall {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.25rem;
  }

  @mixin atMedium {
    height: 3rem;
    width: 3rem;
  }

  @mixin atXLarge {
    height: 3.5rem;
    width: 3.5rem;
  }

  &_circle {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: -1;

    @mixin atSmall {
      height: 60%;
      width: 60%;
      left: 20%;
    }
  }

  &_horizontal {
    content: "";
    position: absolute;
    height: 75%;
    width: 100%;
    z-index: -1;

    @mixin atSmall {
      height: 50%;
    }
  }

  &_vertical {
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    z-index: -1;

    @mixin atSmall {
      width: 50%;
    }
  }

  &_backSlash {
    content: "";
    position: absolute;
    height: 75%;
    width: 143%;
    transform: rotate(45deg);
    z-index: -1;

    @mixin atSmall {
      height: 50%;
    }
  }

  &_forwardSlash {
    content: "";
    position: absolute;
    height: 143%;
    width: 75%;
    transform: rotate(45deg);
    z-index: -1;

    @mixin atSmall {
      width: 50%;
    }
  }

  &-blue {
    background: $blue;
  }

  &-yellow {
    background: $yellow;
  }

  &-green {
    background: $green;
  }

  &-orange {
    background: $orange;
  }

  &-red {
    background: $red;
  }

  &-pink {
    background: $pink;
  }

  &-purple {
    background: $purple;
  }

  &-rose {
    background: $rose;
  }

  &-steel {
    background: $steel;
  }

  &-sea {
    background: $sea;
  }

}