$white: #edf2f4;
$grey: #acb0bd;
$darkgrey: #464655;
$checkgreen: #3ec300;
$seethruwhite: rgba(237, 242, 244, 0.95);

/* Highlighting */
$blue: #5bc0eb;
$yellow: #fde74c;
$green: #9bc53d;
$orange: #fa7921;
$red: #e55934;
$pink: #f0a6ca;
$purple: #9c89b8;
$rose: #efc3e6;
$steel: #b8bedd;
$sea: #2ec4b6;

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: $white;
}

button {
  background: $grey;
  border: none;
  transition: all 0.3s ease-out;

  &:hover {
    background: $darkgrey;
    color: $white;
  }
}

.container {
  display: flex;
  justify-content: center;
}